.button {
  background-color: @color-blue;
  color: @color-white;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  display: block;
}
