.form-contacts {
  @media (min-width: @tablet-width) {
    legend {
      position: relative;
      text-align: center;
      display: block;
      width: 100%;

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 23%;
        top: 13px;
        background-color: @color-list-divide;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }
}
