.foto-video {
  @media (min-width: @desktop-width) {
    margin: 0 -1 * @page-desktop-padding;
  }
}

.foto-video__foto-post {
  margin: 0 auto;

  @media (max-width: @tablet-width - 1) {
    width: 280px;

    article::before {
      content: "";
      display: block;
      height: 1px;
      background-color: @color-buttone-disabled;
      margin-top: 30px;
      margin-bottom: 22px;
      width: 320px;
      margin-left: -1 * @page-mobile-padding;
    }

    li {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: @tablet-width) {
    width: 648px;
    margin-top: 56px;

    li {
      width: 50%;

      &:nth-child(1) {
        width: 100%;
      }
    }
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    margin-top: 72px;

    li {
      width: 400px;

      &:nth-child(1) {
        width: 1200px;
      }
    }
  }
}

.foto-video__video-post {
  margin: 0 auto;

  @media (max-width: @tablet-width - 1) {
    width: 280px;

    &::before {
      content: "";
      display: block;
      height: 1px;
      background-color: @color-buttone-disabled;
      margin-top: 30px;
      margin-bottom: 32px;
      width: 320px;
      margin-left: -1 * @page-mobile-padding;
    }
  }

  @media (min-width: @tablet-width) {
    margin-top: 79px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 69px;
  }
}

.foto-video__main-heading {
  margin-top: 100px;

  @media (min-width: @tablet-width) {
    margin-top: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 100px;
  }
}
