.hotel-search__button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: @color-white;
  width: 280px;
  height: 58px;
  background-color: @color-blue;
  border: none;
  display: block;
  margin: 0 auto;

  &:hover {
    background-color: @color-blue-hover;
  }

  &:active {
    background-color: @color-blue-active;
    color: rgba(255, 255, 255, @color-opacity-active);
  }

  &:disabled {
    background-color: @color-buttone-disabled;
  }
}

.hotel-search__live-map {
  display: block;
  width: auto;
  height: 350px;
  margin-top: 49px;
  margin-bottom: 30px;

  margin-left: -1 * @page-mobile-padding;
  margin-right: -1 * @page-mobile-padding;

  @media (min-width: @tablet-width) {
    margin-left: -1 * @page-tablet-padding;
    margin-right: -1 * @page-tablet-padding;
  }

  @media (min-width: @desktop-width) {
    margin-left: -1 * @page-tablet-padding;
    margin-right: -1 * @page-tablet-padding;
  }
}
