.impressions {
  @media (min-width: @tablet-width) {
    min-width: 280px;

    legend {
      margin: 0;
    }
  }

  @media (min-width: @desktop-width) {
    legend {
      margin-left: 77px;
    }
  }

  ul {
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    padding: 0;
  }

  li {
    margin-bottom: 43px;
    position: relative;
    padding-left: 76px;
    top: 14px;

    @media (min-width: @tablet-width) {
      margin-bottom: -5px;
      margin-top: 57px;
      margin-left: -1px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 0;
    }
  }
}

.impressions__radio-input {
  position: absolute;
  border: none;
  appearance: none;

  &::before {
    content: "";
    position: absolute;
    transform: translate(-83px, -18px);

    @media (min-width: @tablet-width) {
      transform: translate(-80px, -18px);
    }

    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 17px solid @color-input-placeholder;
    background-color: @color-input-placeholder;
  }

  &:hover::before {
    border-color: @color-buttone-disabled;
    background-color: @color-buttone-disabled;
  }

  &:checked::before {
    content: "";
    background-color: @color-subheading;
  }

  &:focus::before {
    outline: 2px solid @color-blue;
  }

  &:active::before {
    border-color: @color-radio-active;
    background-color: @color-radio-center-active;
  }
}
