.main {
  padding-right: @page-mobile-padding;
  padding-left: @page-mobile-padding;

  @media (min-width: @tablet-width) {
    padding-right: @page-tablet-padding;
    padding-left: @page-tablet-padding;
  }

  @media (min-width: @desktop-width) {
    padding-right: @page-desktop-padding;
    padding-left: @page-desktop-padding;
  }
}

.main__top-banner {
  @media (max-width: @tablet-width - 1) {
    position: relative;
    top: -34px;
  }

  margin: auto -1 * @page-mobile-padding;

  @media (min-width: @tablet-width) {
    margin: auto -1 * @page-tablet-padding;
    margin-top: 30px;
  }

  @media (min-width: @desktop-width) {
    margin: auto -1 * @page-desktop-padding;
    margin-top: 30px;
  }
}

.main__hotel-search {
  margin-top: 33px;

  @media (min-width: @tablet-width) {
    margin-top: 56px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 56px;
  }
}

.main__feedback {
  margin-top: 15px;

  @media (min-width: @tablet-width) {
    margin-top: 75px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 125px;
  }
}

.main__foto-video {
  margin-top: -101px;

  @media (min-width: @tablet-width) {
    margin-top: 42px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 67px;
  }
}
