.social-links-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 450px;
  }
}

.social-links-list__item {
  width: 46px;
  height: 48px;
  background-color: @color-blue;
  display: flex;

  a {
    margin: auto;
  }

  &:hover {
    background-color: @color-blue-hover;
  }

  &:active {
    background-color: @color-blue-active;
  }

  &:disabled {
    background-color: @color-buttone-disabled;
  }

  svg {
    fill: @color-white;

    &:active {
      opacity: @color-opacity-active;
    }
  }
}
