.submit-and-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (max-width: @tablet-width - 1) {
  span {
    display: none;
  }
}

.submit-and-text__button-submit {
  margin: 50px auto;
  height: 58px;
  width: 280px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    width: 480px;
  }
}
