.top-banner {
  height: 158px;
  background-image: url("../img/text-sedona.svg"),
    url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-position: center top 52px, center bottom, left -226px bottom;
  background-size: 231px, auto, 768px;
  background-repeat: no-repeat, no-repeat, no-repeat;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/text-sedona.svg"),
      url("../img/bg-intro-triangle-mobile.svg"),
      url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: @mobile-width + 1) {
    background-position: center top 52px, center bottom, center bottom;
  }

  @media (min-width: @tablet-width) {
    height: 290px;
    background-image: url("../img/text-sedona.svg"),
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");
    background-size: 459px, auto, cover;
    background-position: center top 94px, center bottom, bottom;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/text-sedona.svg"),
        url("../img/bg-intro-triangle-desktop.svg"),
        url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    height: 301px;
    background-image: url("../img/text-sedona.svg"),
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");
    background-position: center top 101px, center bottom, bottom;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/text-sedona.svg"),
        url("../img/bg-intro-triangle-desktop.svg"),
        url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.top-banner--index {
  height: 390px;
  background-image: url("../img/text-sedona-index.svg"),
    url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-position: center top 90px, center bottom, center;
  background-size: 280px, auto, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/text-sedona-index.svg"),
      url("../img/bg-intro-triangle-mobile.svg"),
      url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    height: 519px;
    background-image: url("../img/text-sedona-index.svg"),
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");
    background-size: 461px, auto, cover;
    background-position: center top 77px, center bottom, center bottom -2px;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/text-sedona-index.svg"),
        url("../img/bg-intro-triangle-desktop.svg"),
        url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/text-sedona-index.svg"),
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");
    background-position: center top 78px, center bottom, center bottom;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/text-sedona-index.svg"),
        url("../img/bg-intro-triangle-desktop.svg"),
        url("../img/bg-back-desktop@2x.jpg");
    }
  }
}
