.visited-places {
  width: 100%;

  legend {
    text-align: center;
  }

  @media (min-width: @tablet-width) {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      margin-top: -31px;
      background-color: @color-list-divide;
      z-index: 0;
    }

    legend {
      position: relative;
      text-align: center;
      width: 402px;
      background-color: @color-white;
      margin-left: auto;
      margin-right: auto;
      z-index: 1;
    }
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }

  ul {
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    padding: 0;
    margin-top: 32px;

    @media (min-width: @tablet-width) {
      width: 520px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-wrap: wrap;
      transform: translateX(31px);
      margin-top: 54px;
    }

    @media (min-width: @desktop-width) {
      width: 100%;
      justify-content: space-between;
      transform: none;
    }
  }

  li {
    position: relative;
    margin-bottom: 54px;
    padding-left: 77px;

    @media (min-width: @tablet-width) {
      margin-bottom: 62px;
      width: 50%;
      padding-left: 80px;
    }

    @media (min-width: @desktop-width) {
      width: auto;

      &:nth-child(2n),
      &:nth-child(3n) {
        text-align: center;
      }

      &:nth-child(4n) {
        text-align: right;
      }
    }
  }
}

.visited-places__check-input {
  position: absolute;
  border: none;
  appearance: none;

  &::before {
    content: "";
    position: absolute;
    transform: translate(-83px, -18px);
    width: 55px;
    height: 55px;
    background-color: @color-input-placeholder;
    border: 5px solid @color-input-placeholder;
    border-radius: 10%;
  }

  &:hover::before {
    background-color: @color-buttone-disabled;
    border: 5px solid @color-buttone-disabled;
  }

  &:active::before {
    background-color: @color-radio-active;
    border: 5px solid @color-radio-active;
  }

  &:checked {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg fill='%23333333' version='1.0' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' width='23' height='16' viewBox='0 0 23 16' enable-background='new 0 0 23 16' xml:space='preserve'%3E%3Cpath d='M22.801,1.299L21.75,0.248c-0.331-0.331-0.872-0.331-1.203,0L8.693,12.102L2.502,5.911c-0.331-0.331-0.872-0.331-1.203,0 L0.248,6.962c-0.331,0.331-0.331,0.872,0,1.202l7.837,7.837c0.167,0.167,0.388,0.248,0.608,0.246c0.22,0.002,0.44-0.079,0.608-0.246 l13.5-13.5C23.132,2.171,23.132,1.63,22.801,1.299z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:active::before {
      background-image: url("data:image/svg+xml,%3Csvg fill='%23b6b6b6' version='1.0' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' width='23' height='16' viewBox='0 0 23 16' enable-background='new 0 0 23 16' xml:space='preserve'%3E%3Cpath d='M22.801,1.299L21.75,0.248c-0.331-0.331-0.872-0.331-1.203,0L8.693,12.102L2.502,5.911c-0.331-0.331-0.872-0.331-1.203,0 L0.248,6.962c-0.331,0.331-0.331,0.872,0,1.202l7.837,7.837c0.167,0.167,0.388,0.248,0.608,0.246c0.22,0.002,0.44-0.079,0.608-0.246 l13.5-13.5C23.132,2.171,23.132,1.63,22.801,1.299z'/%3E%3C/svg%3E");
    }
  }

  &:focus::before {
    outline: 2px solid @color-blue;
  }
}
