@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
body {
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.feedback fieldset {
  border: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .feedback legend {
    position: relative;
    margin-bottom: 30px;
  }
  .feedback legend::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 290px;
    background-color: #e5e5e5;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.feedback__icon {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
}
.feedback__icon--phone {
  background-image: url("../img/icon-phone.svg");
}
.feedback__icon--mail {
  background-image: url("../img/icon-mail.svg");
}
.feedback-list {
  list-style: none;
  padding: 0;
}
.feedback-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.feedback-list__item label {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  margin-top: 12px;
}
.feedback-list__item input {
  flex-grow: 1;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  height: 58px;
  border: 0;
  background-color: #f2f2f2;
  padding-top: 15px;
  padding-left: 22px;
  margin-left: 12px;
  width: 100px;
}
.feedback-list__item input:hover {
  background-color: #e5e5e5;
}
.feedback-list__item input:focus {
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
  padding-left: 18px;
}
@media (min-width: 1200px) {
  .feedback-list--contacts {
    display: flex;
    justify-content: space-between;
  }
}
.feedback-list__item--contacts {
  flex-wrap: wrap;
  margin: 0;
}
@media (min-width: 1200px) {
  .feedback-list__item--contacts {
    width: 48%;
  }
}
.feedback-list__item--contacts label {
  width: 100%;
  margin-top: 0;
}
@media (min-width: 1200px) {
  .feedback-list__item--contacts label {
    width: 40%;
  }
}
.feedback-list__item--contacts input {
  margin-left: 0;
}
.submit-and-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 767px) {
  .submit-and-text span {
    display: none;
  }
}
.submit-and-text__button-submit {
  margin: 50px auto;
  height: 58px;
  width: 280px;
}
@media (min-width: 768px) {
  .submit-and-text__button-submit {
    margin-left: 0;
    width: 324px;
  }
}
@media (min-width: 1200px) {
  .submit-and-text__button-submit {
    margin-left: 0;
    width: 480px;
  }
}
.feedback-form::after {
  content: "";
  display: block;
  width: 1px;
  height: 292px;
  background-color: #dbdbdb;
  order: 1;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .feedback-form::after {
    display: none;
  }
}
.feedback-form legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}
@media (min-width: 768px) {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .feedback-form legend {
    font-size: 21px;
    line-height: 26px;
  }
  .feedback-form .feedback__impressions {
    order: 1;
    width: 43%;
  }
  .feedback-form .feedback__impressions li {
    margin-bottom: 60px;
  }
  .feedback-form .feedback__form-name {
    order: 2;
    width: 43%;
  }
  .feedback-form .feedback__form-name legend {
    margin-left: 0;
  }
  .feedback-form .feedback__form-contacts {
    order: 3;
    width: 100%;
  }
  .feedback-form .visited-places {
    order: 4;
  }
  .feedback-form .describe-emotions {
    order: 5;
  }
  .feedback-form .submit-and-text {
    order: 6;
  }
  .feedback-form .feedback__divider {
    order: 2;
  }
}
@media (min-width: 768px) {
  .impressions legend {
    margin: 0;
  }
}
.impressions ul {
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  padding: 0;
}
.impressions li {
  margin-bottom: 30px;
  position: relative;
  padding-left: 60px;
}
.impressions__radio-input {
  position: absolute;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.impressions__radio-input::before {
  content: "";
  position: absolute;
  transform: translate(-70px, -13px);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 15px solid #f2f2f2;
  background-color: #f2f2f2;
}
.impressions__radio-input:hover::before {
  border-color: #e5e5e5;
  background-color: #e5e5e5;
}
.impressions__radio-input:checked::before {
  content: "";
  background-color: #333333;
}
.impressions__radio-input:focus::before {
  outline: 2px solid #81b3d2;
}
.impressions__radio-input:active::before {
  border-color: #d5d5d5;
  background-color: #b5b5b5;
}
.developed-by {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  margin-top: auto;
}
.developed-by a,
.developed-by a:hover,
.developed-by a:visited,
.developed-by a:active {
  text-decoration: none;
  color: #000000;
}
.developed-by svg {
  fill: #000000;
  margin-left: 10px;
  margin-top: -5px;
}
.developed-by svg:hover {
  fill: #81b3d2;
}
.developed-by svg:active {
  fill: #000000;
  opacity: 0.3;
}
.features {
  background-color: transparent;
  margin: auto -15px;
}
@media (min-width: 768px) {
  .features {
    margin: auto -60px;
  }
}
@media (min-width: 1200px) {
  .features {
    margin: auto -125px;
  }
}
.features-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.features-list__item h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}
.features-list__item p,
.features-list__item span {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
.features-list__item:nth-child(2) {
  order: 1;
}
.features-list__item:nth-child(6) {
  order: 2;
}
.features-list__item:nth-child(3) {
  order: 3;
}
.features-list__item:nth-child(4) {
  order: 4;
}
.features-list__item:nth-child(5) {
  order: 5;
}
@media (min-width: 768px) {
  .features-list__item:nth-child(3),
  .features-list__item:nth-child(4),
  .features-list__item:nth-child(5) {
    width: 256px;
  }
  .features-list__item:nth-child(3) h3,
  .features-list__item:nth-child(4) h3,
  .features-list__item:nth-child(5) h3 {
    width: 135px;
    margin-left: auto;
    margin-right: auto;
  }
  .features-list__item:nth-child(3) div,
  .features-list__item:nth-child(4) div,
  .features-list__item:nth-child(5) div {
    width: 190px;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .features-list__item:nth-child(3),
  .features-list__item:nth-child(4),
  .features-list__item:nth-child(5) {
    width: 100%;
    padding: 0 15px;
  }
}
.features-list__item--left-accent,
.features-list__item--right-accent {
  background-color: #81b3d2;
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.features-list__item--left-accent::after,
.features-list__item--right-accent::after,
.features-list__item--left-accent::before,
.features-list__item--right-accent::before {
  height: 260px;
}
@media (min-width: 768px) {
  .features-list__item--left-accent::after,
  .features-list__item--right-accent::after,
  .features-list__item--left-accent::before,
  .features-list__item--right-accent::before {
    height: 256px;
  }
}
.features-list__item--left-accent div,
.features-list__item--right-accent div {
  width: 290px;
  margin: 34px auto;
}
@media (min-width: 768px) {
  .features-list__item--left-accent,
  .features-list__item--right-accent {
    height: 256px;
  }
  .features-list__item--left-accent h3,
  .features-list__item--right-accent h3 {
    font-size: 21px;
  }
  .features-list__item--left-accent div,
  .features-list__item--right-accent div {
    width: 200px;
    margin: auto;
  }
}
.features-list__item--left-accent::after {
  content: "";
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/main-city-mobile@1x.jpg");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .features-list__item--left-accent::after {
    background-image: url("../img/main-city-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .features-list__item--left-accent::after {
    width: calc(100% - 256px);
    background-image: url("../img/main-city-tablet@1x.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .features-list__item--left-accent::after {
    background-image: url("../img/main-city-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .features-list__item--left-accent::after {
    background-image: url("../img/main-city-desktop@1x.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .features-list__item--left-accent::after {
    background-image: url("../img/main-city-desktop@2x.jpg");
  }
}
@media (min-width: 768px) {
  .features-list__item--right-accent::before {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: calc(100% - 256px);
    background-image: url("../img/main-bridge-tablet@1x.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .features-list__item--right-accent::before {
    background-image: url("../img/main-bridge-tablet@2x.jpg");
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .features-list__item--right-accent::before {
    background-image: url("../img/main-bridge-desktop@1x.jpg");
  }
}
@media (min-width: 768px) and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .features-list__item--right-accent::before {
    background-image: url("../img/main-bridge-desktop@2x.jpg");
  }
}
@media (max-width: 767px) {
  .features-list__item--right-accent::after {
    content: "";
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/photo-bridge-mobile@1x.jpg");
  }
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 1.5dppx) {
  .features-list__item--right-accent::after {
    background-image: url("../img/photo-bridge-mobile@2x.jpg");
  }
}
.features-with-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 330px;
}
.features-with-icons h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .features-with-icons h3 {
    font-size: 21px;
  }
}
@media (max-width: 767px) {
  .features-with-icons {
    display: block;
    text-align: left;
    height: auto;
  }
}
.features-with-icons__item {
  position: relative;
  margin-top: 70px;
  flex-basis: 185px;
}
@media (max-width: 767px) {
  .features-with-icons__item {
    padding-left: 70px;
    padding-right: 20px;
  }
}
.features-with-icons__item h3::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 20px;
  top: -10px;
  width: 40px;
  height: 37px;
}
@media (min-width: 768px) {
  .features-with-icons__item h3::before {
    width: 76px;
    height: 75px;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.features-with-icons__item--icon-house h3::before {
  background-image: url("../img/icon-house.svg");
}
.features-with-icons__item--icon-gift h3::before {
  background-image: url("../img/icon-gift.svg");
}
.features-with-icons__item--icon-burger h3::before {
  background-image: url("../img/icon-burger.svg");
}
.footer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 120px;
  }
}
.footer__slogan {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__slogan {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 60px;
  }
}
@media (min-width: 1200px) {
  .footer__slogan {
    padding-left: 125px;
  }
}
.footer__developed-by {
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 767px) {
  .footer__developed-by {
    margin: auto;
    margin-top: 40px;
  }
}
@media (min-width: 768px) {
  .footer__developed-by {
    margin-right: 60px;
  }
}
@media (min-width: 1200px) {
  .footer__developed-by {
    margin-right: 125px;
  }
}
.interested {
  text-align: center;
}
.interested h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .interested h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
  }
}
.interested p {
  color: #333333;
  margin: auto 20px;
}
@media (min-width: 515px) {
  .interested p {
    width: 435px;
    margin-left: auto;
    margin-right: auto;
  }
}
.live-map {
  border: 0;
  width: 100%;
}
.main {
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media (min-width: 1200px) {
  .main {
    padding-right: 125px;
    padding-left: 125px;
  }
}
.main__top-banner {
  position: relative;
  top: -35px;
  margin: auto -15px;
}
@media (min-width: 768px) {
  .main__top-banner {
    margin: auto -60px;
  }
}
@media (min-width: 1200px) {
  .main__top-banner {
    margin: auto -125px;
  }
}
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .main-heading h2 {
    font-size: 21px;
  }
}
.main-heading__subheading {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}
.main-heading--form,
.main-heading--foto {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .main-heading--form,
  .main-heading--foto {
    width: 443px;
  }
  .main-heading--form h2,
  .main-heading--foto h2 {
    font-size: 30px;
    line-height: 26px;
  }
}
.main-nav-mobile-hide {
  display: none;
}
.main-nav-toggle {
  width: 23px;
  height: 22px;
  background-image: url("../img/icon-menu.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 3;
  top: 17px;
  right: 20px;
  border: none;
}
.main-nav-toggle:hover {
  opacity: 0.6;
}
.main-nav-toggle:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .main-nav-toggle {
    display: none;
  }
}
.main-nav-toggle--cross {
  background-image: url("../img/icon-cross.svg");
}
.main-nav--show {
  position: absolute;
  z-index: 2;
  width: 100%;
}
.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  min-width: 320px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
}
.page-header__logo img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.site-list {
  background-color: #81b3d2;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .site-list {
    background-color: #ffffff;
    position: absolute;
    top: 13px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .site-list .site-list__item:nth-of-type(4n-1) {
    grid-column-start: 4;
    grid-column-end: 5;
  }
}
.site-list__item {
  display: flex;
  height: 55px;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  mix-blend-mode: normal;
  margin-bottom: 1px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
@media (max-width: 767px) {
  .site-list__item:hover {
    background-color: #669ec0;
  }
  .site-list__item:active {
    background-color: #5496bd;
    opacity: 0.3;
  }
}
.site-list__item:last-child {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 87%, rgba(0, 0, 0, 0.2) 100%);
}
@media (min-width: 768px) {
  .site-list__item:last-child {
    background: none;
  }
}
@media (max-width: 767px) {
  .site-list__item:last-child:hover {
    background-color: #669ec0;
  }
  .site-list__item:last-child:active {
    background-color: #5496bd;
    opacity: 0.3;
  }
}
.site-list__item a {
  margin: auto;
}
.site-list__item a,
.site-list__item a:visited,
.site-list__item a:hover,
.site-list__item a:active {
  color: #ffffff;
}
.site-list__item a:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .site-list__item {
    height: auto;
    box-shadow: none;
  }
  .site-list__item a,
  .site-list__item a:visited {
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
  }
  .site-list__item a:hover {
    color: #81b3d2;
  }
  .site-list__item a:active {
    color: #000000;
    opacity: 0.3;
  }
}
.social-links-list {
  list-style: none;
  padding: 0;
  margin: auto;
  display: flex;
}
.social-links-list__item {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
}
.social-links-list__item:hover {
  background-color: #669ec0;
}
.social-links-list__item:active {
  background-color: #5496bd;
}
.social-links-list__item:disabled {
  background-color: #e5e5e5;
}
.social-links-list__item:nth-child(2) {
  margin-left: 6px;
  margin-right: 6px;
}
.social-links-list__item a {
  margin: auto;
}
.social-links-list__item svg {
  fill: #ffffff;
  margin-top: 5px;
}
.social-links-list__item svg:active {
  opacity: 0.3;
}
.top-banner {
  height: 158px;
  background-image: url("../img/text-sedona.svg"), url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-position: center top 50px, center bottom -1px, bottom;
  background-size: 229px, auto, auto;
  background-repeat: no-repeat, no-repeat, no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .top-banner {
    background-image: url("../img/text-sedona.svg"), url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .top-banner {
    height: 290px;
    background-image: url("../img/text-sedona.svg"), url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-size: 461px, auto, cover;
    background-position: center top 96px, center bottom -1px, bottom;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .top-banner {
    background-image: url("../img/text-sedona.svg"), url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .top-banner {
    background-image: url("../img/text-sedona.svg"), url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .top-banner {
    background-image: url("../img/text-sedona.svg"), url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
  }
}
.top-banner--index {
  height: 389px;
  background-image: url("../img/text-sedona-index.svg"), url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-position: center top 94px, center bottom -1px, center;
  background-size: 229px, auto, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .top-banner--index {
    background-image: url("../img/text-sedona-index.svg"), url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .top-banner--index {
    height: 517px;
    background-image: url("../img/text-sedona-index.svg"), url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-size: 461px, auto, cover;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .top-banner--index {
    background-image: url("../img/text-sedona-index.svg"), url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .top-banner--index {
    background-image: url("../img/text-sedona-index.svg"), url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .top-banner--index {
    background-image: url("../img/text-sedona-index.svg"), url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
  }
}
.video-post {
  text-align: center;
}
.video-post p {
  width: 266px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .video-post p {
    width: 445px;
  }
}
@media (min-width: 768px) {
  .video-post h2 {
    font-size: 30px;
    line-height: 26px;
  }
}
.video-post__videoplayer {
  margin-bottom: 70px;
}
.wrapper-centered {
  min-width: 320px;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 5px 15px rgba(135, 204, 204, 0.2);
  position: relative;
}
.describe-emotions {
  width: 100%;
}
@media (min-width: 768px) {
  .describe-emotions legend {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .describe-emotions legend::before,
  .describe-emotions legend::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 23%;
    top: 10px;
    background-color: #dbdbdb;
  }
  .describe-emotions legend::after {
    right: 0;
  }
}
.describe-emotions__textarea {
  display: block;
  width: 100%;
  min-height: 160px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  padding: 13px 23px 29px 21px;
  border: none;
}
.button {
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  display: block;
}
@media (min-width: 768px) {
  .form-contacts legend {
    position: relative;
    text-align: center;
    display: block;
    width: 100%;
  }
  .form-contacts legend::before,
  .form-contacts legend::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 23%;
    top: 13px;
    background-color: #dbdbdb;
  }
  .form-contacts legend::before {
    left: 0;
  }
  .form-contacts legend::after {
    right: 0;
  }
}
.visited-places {
  width: 100%;
}
.visited-places legend {
  text-align: center;
}
@media (min-width: 768px) {
  .visited-places legend {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .visited-places legend::before,
  .visited-places legend::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 23%;
    top: 23px;
    background-color: #dbdbdb;
  }
  .visited-places legend::before {
    left: 0;
  }
  .visited-places legend::after {
    right: 0;
  }
}
@media (min-width: 1200px) {
  .visited-places {
    width: 100%;
  }
}
.visited-places ul {
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  padding: 0;
}
@media (min-width: 768px) {
  .visited-places ul {
    width: 510px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .visited-places ul {
    width: 100%;
  }
}
.visited-places li {
  margin-bottom: 30px;
  position: relative;
  padding-left: 60px;
}
@media (min-width: 768px) {
  .visited-places li {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .visited-places li {
    width: 25%;
  }
}
.visited-places__check-input {
  position: absolute;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.visited-places__check-input::before {
  content: "";
  position: absolute;
  transform: translate(-70px, -13px);
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border: 5px solid #f2f2f2;
}
.visited-places__check-input:checked::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.visited-places__check-input:focus::before {
  outline: 2px solid #81b3d2;
}
.hotel-search {
  margin: auto -15px;
}
@media (min-width: 768px) {
  .hotel-search {
    margin: auto -60px;
  }
}
@media (min-width: 1200px) {
  .hotel-search {
    margin: auto -125px;
  }
}
.hotel-search__button {
  width: 280px;
  height: 58px;
  margin: 0 auto;
  margin-top: 20px;
}
.hotel-search__button:hover {
  background-color: #669ec0;
}
.hotel-search__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.hotel-search__button:disabled {
  background-color: #e5e5e5;
}
.hotel-search__live-map {
  height: 350px;
  margin-top: 49px;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .foto-video {
    margin: 0 -125px;
  }
}
.foto-video__foto-post {
  margin: 0 auto;
}
@media (max-width: 767px) {
  .foto-video__foto-post {
    width: 280px;
  }
  .foto-video__foto-post article::before,
  .foto-video__foto-post article::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #e5e5e5;
  }
  .foto-video__foto-post article::before {
    margin-bottom: 20px;
  }
  .foto-video__foto-post article::after {
    margin-top: 20px;
  }
  .foto-video__foto-post li {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 768px) {
  .foto-video__foto-post {
    width: 648px;
  }
  .foto-video__foto-post li {
    width: 50%;
  }
  .foto-video__foto-post li:nth-child(1) {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .foto-video__foto-post {
    width: 1200px;
  }
  .foto-video__foto-post li {
    width: 400px;
  }
  .foto-video__foto-post li:nth-child(1) {
    width: 1200px;
  }
}
.videoplayer {
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  height: 201px;
  width: 320px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .videoplayer {
    width: 648px;
    height: 500px;
    background-image: url("../img/video-tablet@1x.jpg");
  }
}
@media (min-width: 1200px) {
  .videoplayer {
    width: 800px;
    background-image: url("../img/video-desktop@1x.jpg");
  }
}
.videoplayer__upper-plate {
  position: absolute;
  width: 280px;
  height: 45px;
  background-color: #000000;
  opacity: 0.6;
  bottom: 0;
  left: 20px;
}
@media (min-width: 768px) {
  .videoplayer__upper-plate {
    width: 648px;
    height: 93px;
    left: 0;
  }
}
@media (min-width: 1200px) {
  .videoplayer__upper-plate {
    width: 800px;
  }
}
.videoplayer__timeline {
  position: absolute;
  width: 235px;
  height: 3px;
  background-color: #ffffff;
  opacity: 0.2;
  left: 42px;
  bottom: 20px;
}
@media (min-width: 768px) {
  .videoplayer__timeline {
    width: 389px;
    height: 3px;
    left: 93px;
    bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .videoplayer__timeline {
    width: 540px;
  }
}
.videoplayer__timeline-bullet {
  position: absolute;
  background-color: #ffffff;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  left: 58px;
  bottom: 17px;
}
@media (min-width: 768px) {
  .videoplayer__timeline-bullet {
    left: 204px;
    bottom: 41px;
  }
}
.videoplayer__lower-plate {
  position: absolute;
  width: 280px;
  height: 66px;
  background-color: #f2f2f2;
  left: 20px;
  bottom: -66px;
}
@media (min-width: 768px) {
  .videoplayer__lower-plate {
    display: none;
  }
}
.videoplayer__button-replay,
.videoplayer__button-cc,
.videoplayer__button-fullscreen {
  position: absolute;
  padding: 0;
  border: none;
  background: transparent;
}
.videoplayer__button-replay svg,
.videoplayer__button-cc svg,
.videoplayer__button-fullscreen svg {
  fill: #5C6870;
}
.videoplayer__button-replay svg:hover,
.videoplayer__button-cc svg:hover,
.videoplayer__button-fullscreen svg:hover,
.videoplayer__button-replay svg:active,
.videoplayer__button-cc svg:active,
.videoplayer__button-fullscreen svg:active {
  fill: #333333;
}
.videoplayer__button-replay svg:active,
.videoplayer__button-cc svg:active,
.videoplayer__button-fullscreen svg:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .videoplayer__button-replay svg,
  .videoplayer__button-cc svg,
  .videoplayer__button-fullscreen svg {
    fill: #ffffff;
  }
  .videoplayer__button-replay svg:hover,
  .videoplayer__button-cc svg:hover,
  .videoplayer__button-fullscreen svg:hover {
    fill: #ffffff;
    opacity: 0.6;
  }
  .videoplayer__button-replay svg:active,
  .videoplayer__button-cc svg:active,
  .videoplayer__button-fullscreen svg:active {
    opacity: 0.3;
  }
}
.videoplayer__button-replay {
  width: 16px;
  height: 20px;
  bottom: -44px;
  left: 40px;
}
@media (min-width: 768px) {
  .videoplayer__button-replay {
    left: 35px;
    bottom: 38px;
  }
}
.videoplayer__button-cc {
  width: 32px;
  height: 20px;
  bottom: -44px;
  left: 190px;
}
@media (min-width: 768px) {
  .videoplayer__button-cc {
    left: 524px;
    bottom: 37px;
  }
}
@media (min-width: 1200px) {
  .videoplayer__button-cc {
    left: 675px;
  }
}
.videoplayer__button-fullscreen {
  width: 20px;
  height: 20px;
  bottom: -44px;
  left: 250px;
}
@media (min-width: 768px) {
  .videoplayer__button-fullscreen {
    left: 587px;
    bottom: 37px;
  }
}
@media (min-width: 1200px) {
  .videoplayer__button-fullscreen {
    left: 738px;
  }
}
.foto-post {
  padding: 0;
}
@media (min-width: 768px) {
  .foto-post {
    display: flex;
    flex-wrap: wrap;
  }
}
.foto-post li {
  list-style: none;
}
.foto-post__item figure {
  margin: 0;
}
.foto-post__item figure img {
  height: auto;
}
.foto-post__item figure figcaption {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .foto-post__item figure figcaption {
    background-color: #f2f2f2;
    height: 80px;
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
  }
  .foto-post__item figure figcaption h3 {
    margin-top: -4px;
  }
  .foto-post__item figure figcaption span {
    margin-right: 20px;
  }
  .foto-post__item figure figcaption div {
    margin-left: 20px;
  }
}
.foto-post__item figure p {
  text-transform: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  margin-top: -20px;
}
.foto-post__item figure span::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 21px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
